# Generated site
_site
_test

# Logs
logs
*.log
npm-debug.log*

# Dependencies
/node_modules/*

# Do include Sass since GitHub Pages needs it to build the Jekyll site
!/node_modules/font-awesome
!/node_modules/stylebook
!/node_modules/smooth-scroll

# Cache
.npm
.sass-cache
.jekyll-metadata

# OS X
.DS_Store