# Generated site
_site

# Logs
logs
*.log
npm-debug.log*

# Dependencies
/node_modules/*

# Do include Sass since GitHub Pages needs it to build the Jekyll site
!/node_modules/bootstrap-sass

# Cache
.npm
.sass-cache
.jekyll-metadata

# OS X
.DS_Store