<div class="container">
  <footer class="footer">
    <p>&copy; {{ site.title }}</p>
  </footer>
</div>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}/bower_components/tether/dist/js/tether.min.js"></script>
<script src="{{ site.baseurl }}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="{{ site.baseurl }}/js/jquery-ui.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.tocify.min.js"></script>
<script src="{{ site.baseurl }}/js/main.js"></script>