<header class="site__header site__header--white">
    <div class="container">

        <a href="/" class="header-logo">
            <span class="hidden">The Things Network</span>

        </a>

        <a href="javascript:;" class="header-hamburger" data-menu-trigger="toggle">
            <span class="header-hamburger__wrap">
                <span class="header-hamburger__line--top"></span>
                <span class="header-hamburger__line--middle"></span>
                <span class="header-hamburger__line--bottom"></span>

                <span class="header-hamburger__line--arrow-top"></span>
                <span class="header-hamburger__line--arrow-bottom"></span>
            </span>
        </a>

        <ul class="header-nav">
          {% for my_page in site.pages %}
            {% if my_page.title %}
              <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>

    </div><!-- container -->
</header>

<!--
      <div class="trigger">
   
      </div>
-->