<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://www.thethingsnetwork.org" title="The Things Network"><img src="{{ site.baseurl }}/assets/layout/ttn-logo.png" alt="The Things Network"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="https://www.thethingsnetwork.org/community">Communities</a>
        </li>
        <li>
          <a href="https://www.thethingsnetwork.org/labs/">Labs</a>
        </li>
        <li>
          <a href="http://forum.thethingsnetwork.org/">Forum</a>
        </li>
        <li class="active">
          <a href="{{ site.baseurl }}/">Docs <span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a href="https://shop.thethingsnetwork.com/">Shop</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<!--
<ul class="header-nav">
  {% for my_page in site.pages %}
    {% if my_page.title %}
      <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
-->
