<nav class="navbar navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="https://www.thethingsnetwork.org" title="The Things Network"><img src="{{ site.baseurl }}/assets/ttn-logo.png" alt="The Things Network"></a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="https://www.thethingsnetwork.org/communities">Communities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.thethingsnetwork.org/labs/">Labs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://forum.thethingsnetwork.org/">Forum</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ site.baseurl }}/">Docs <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://shop.thethingsnetwork.com/">Shop</a>
      </li>
    </ul>
  </div>
</nav>

<!--
<ul class="header-nav">
  {% for my_page in site.pages %}
    {% if my_page.title %}
      <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
-->