<head>

  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />

  <title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}</title>
  <!-- <title>{{ page.platform }} Developers Guide | Parse</title> -->
  <!--
  <link rel="apple-touch-icon" sizes="57x57" href="https://parse.com/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://parse.com/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://parse.com/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://parse.com/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://parse.com/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://parse.com/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://parse.com/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://parse.com/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://parse.com/apple-touch-icon-180x180.png">
  <meta name="apple-mobile-web-app-title" content="Parse">
  <link rel="icon" type="image/png" href="https://parse.com/favicon-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="https://parse.com/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="https://parse.com/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="https://parse.com/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="https://parse.com/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#1874B8">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  -->
  <meta name="application-name" content="The Things Network">
  <meta name="theme-color" content="#1874B8">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <!-- <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"> -->

  <meta name="description" content="Official documentation for The Things Network." />
  <meta name="keywords" content="iot, internet, things, lora, lorawan, bluetooth, development, cloud, server, code, arduino">
  <!-- <meta property="fb:app_id" content="361736430535656"> -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="The Things Network">
  <!-- <meta property="og:image" content="https://parseplatform.github.io/docs/assets/images/social.jpg"> -->
  <meta property="og:description" content="Official documentation for The Things Network.">
  <meta property="og:url" content="{{ page.url }}">
</head>