{% if include.parent.url | contains:'/index.html' %}

    {% assign parent_dir = include.parent.url | remove:'index.html' %}
    {% assign page_dir = page.url | split:'/' | reverse | slice:1,100 | reverse | join:'/' | append:'/' %}
    {% assign just_believe = page_dir | split:parent_dir | first %}
    
    {% if just_believe != page_dir %}

        {% assign parent_depth = include.parent.url | remove:'/index.html' | split:'/' | size %}
        {% assign children_depth = parent_depth | plus:1 %}
        {% assign pages_filtered = '' | split: '|' %}

        {% for apage in include.pages %}
            {% if include.section and apage.section != include.section %}
                {% continue %}
            {% endif %}
            {% if include.nosection and apage.section %}
                {% continue %}
            {% endif %}
            {% assign apage_depth = apage.url | remove:'/index.html' | split:'/' | size %}
            {% if apage_depth != children_depth %}
                {% continue %}
            {% endif %}
            {% if apage.hidden %}
                {% if apage.url contains "index.html" %}
                    {% assign apage_dir = apage.url | split:'/' | reverse | slice:1,100 | reverse | join:'/' | append:'/' %}
                    {% assign just_believe = page_dir | split:apage_dir | first %}
                    {% if just_believe == page_dir %}
                        {% continue %}
                    {% endif %}
                {% elsif apage.url != page.url %}
                    {% continue %}
                {% endif %}
            {% endif %}
            {% assign apage_parent_url = apage.url | split:'/' | slice:0,parent_depth | join:'/' | append:'/index.html' %}
            {% if apage_parent_url == include.parent.url %}
                {% assign pages_filtered = pages_filtered | push: apage %}
            {% endif %}
        {% endfor %}

        {% if pages_filtered.size > 0 %}
            {% if include.section %}<li class="page-side-nav-section"><span>{{ include.section }}</span>{% endif %}
            <ul>
            {% for apage in pages_filtered %}
                <li class="{% if apage.url == page.url %}active{% endif %}"><a href="{% if apage.redirect_to %}{% if apage.redirect_to contains ':' %}{{ apage.redirect_to }}{% else %}{{ apage.redirect_to | prepend:apage.url | prepend:site.baseurl | remove:'index.html' }}{% endif %}{% else %}{{ apage.url | prepend:site.baseurl | remove:'index.html' }}{% endif %}">{{ apage.title }}</a>
                    {% if apage.label %}<span class="label label-info">{{ apage.label }}</span>{% endif %}
                    {% include tree.html pages=include.pages parent=apage %}
                </li>
            {% endfor %}
            </ul>
            {% if include.section %}</li>{% endif %}
        {% endif %}

    {% endif %}

{% endif %}