body {
  padding-top: $navbar-height;
  background-color: $gray-lighter;
}

/* navbar */

.navbar {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  background: white;

  .navbar-brand {
    line-height: $navbar-height;
    padding-top: 0;
    padding-bottom: 0;

    img {
      display: inline-block;
      height: 50px;
    }
  }

  .navbar-nav > li {

    > a {
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      display: block;
      line-height: $navbar-height;
      padding: 0 20px;
      color: $brand-primary;
    }

    &.active > a,
    > a:hover {
      background: #dfdfdf;
      color: $brand-primary;
    }
  }
}

/* anchor-js */

.anchorjs-link:hover,
.anchorjs-link:active {
  text-decoration: none;
}

/* footer */

.footer {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: $text-muted;
  border-top: .05rem solid $gray-light;
}