body {
  padding-top: $ttn-navbar-height;
}

img {
  max-width: 100%; // never exceed parent width
}

#content {
  overflow-x: hidden;
}

/* anchor-js */

.anchorjs-link:hover,
.anchorjs-link:active {
  text-decoration: none;
}

/* footer */

.footer {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: $text-muted;
  border-top: .05rem solid $gray-light;
}