.layout-guide {
  padding-top: 35px;

  .breadcrumb {
    min-width: 213px;
  }

  .dropdown .btn {
    text-align: left;
  }

  .panel {
    margin-bottom: 100px;
    border: 0;

    .panel-body {
      padding: 30px;

      blockquote {
        border: 1px solid $gray-light;
        border-left: 5px solid $brand-primary;
        border-radius: 3px 0 0 3px;
        font-size: inherit;
      }
    }
  }

  /*
   * ZeroClipboard styles
   */

  .zero-clipboard {
    position: relative;
    display: none;
  }
  .btn-clipboard {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    padding: 5px 8px;
    font-size: 12px;
    color: #767676;
    cursor: pointer;
    background-color: $gray-lighter;
    border-radius: 0 0 0 4px;
  }
  .btn-clipboard-hover {
    color: #fff;
    background-color: $brand-primary;
  }

  @media (min-width: 768px) {
    .zero-clipboard {
      display: block;
    }
    .bs-example + .zero-clipboard .btn-clipboard {
      top: -16px;
      border-top-right-radius: 0;
    }
  }

  /*
   * Side navigation taken from http://getbootstrap.com/
   */

  /* First level of nav */
  .js-toc > .nav {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* All levels of nav */
  .js-toc .nav > li > a {
    display: block;
    padding: 6px 12px;
    font-size: 15px;
    font-weight: bold;
    color: $gray;
    border-left: 2px solid transparent;
  }
  .js-toc .nav > li > a:hover,
  .js-toc .nav > li > a:focus {
    color: $link-color;
    text-decoration: none;
    background-color: transparent;
  }
  .js-toc .nav > li > a.active,
  .js-toc .nav > li:hover > a.active {
    font-weight: bold;
    color: $link-color;
    background-color: transparent;
    border-left-color: $link-color;
  }

  /* Nav: second level */
  .js-toc .nav .nav.is-collapsed {
    padding-bottom: 10px;

    &.is-collapsed {
      display: none;
    }
  }
  .js-toc .nav .nav > li > a {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 24px;
    font-size: 14px;
    font-weight: normal;
  }

  .affix {
    top: 100px;
    width: 213px;

    @media (max-width: $screen-sm-max) {
      position: static;
    }
  }
}