.layout-index {  

  .index-intro {
    margin-top: -50px;
    padding: 45px;
    margin-bottom: 70px;
    text-align: center;
    color: $gray;

    p:last-child {
      margin-bottom: 0px;
    }

    @media (max-width: $screen-sm-max) {

      .row > div {
        margin-bottom: 1em;

        &:last-child {
          margin-bottom:  0;
        }
      }
    }
  }

  @media (min-width: $screen-sm-min) {

    .index-blocks {
      display: flex;
      flex-flow: row wrap;

      > div {
        display: flex;

        > div {
          flex: 1
        }
      }
    }
  }
}
