.layout-index {  

  .index-intro {
    margin-top: -50px;
    padding: 45px;
    margin-bottom: 30px;
    text-align: center;
    color: $gray;

    p:last-child {
      margin-bottom: 0px;
    }

    @media (max-width: $screen-sm-max) {

      .row > div {
        margin-bottom: 1em;

        &:last-child {
          margin-bottom:  0;
        }
      }
    }
  }

  @media (min-width: $screen-sm-min) {

    .index-blocks {
      display: flex;
      flex-flow: row wrap;

      > div {
        display: flex;
        flex: 1;

        > div {
          flex: 1
        }
      }

      .panel-body {
        text-align: center;
      }
    }
  }

  .index-docs {
    img {
      margin: 1em 0;
    }
  }

  .index-title {
    display: table;
    white-space: nowrap;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    &:before, &:after {
      border-top: 1px solid $gray-light;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 45%;
    }
    &:before { right: 1.5%; }
    &:after { left: 1.5%; }
  }
}
