.layout-index {  
  margin-bottom: 70px;

  @media (min-width: 1700px) {
    background-size: 100% auto;
  }

  .index-header {
    height: 500px;
    background-image: url($baseurl + '/assets/images/header-img-learn.jpg');
    background-size: cover;
    background-position: center;

    h1 {
      margin: auto;
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        width: 170px;
      }

      span {
        display: block;
        text-transform: uppercase;
        font-size: 60px;
        letter-spacing: 9px;
        color: white;
        margin-top: 40px;
      }
    }

    p {
      @extend .text-center;
      margin-top: 40px;
      font-size: 20px;
      color: white;
    }

    @media (min-width: $screen-sm-min) {
      h1 {
        flex-direction: row;
        margin-top: 70px;

        span {
          font-size: 120px;
          margin-left: 40px;
          margin-top: 40px;
        }
      }

      p {
        font-size: 25px;
        margin-top: 70px;
      }
    }
  }

  .index-intro {
    margin-top: -50px;
    padding: 45px;
    margin-bottom: 70px;
    text-align: center;
    color: $gray;

    p:last-child {
      margin-bottom: 0px;
    }

    @media (max-width: $screen-sm-max) {

      .row > div {
        margin-bottom: 1em;

        &:last-child {
          margin-bottom:  0;
        }
      }
    }
  }

  @media (min-width: $screen-sm-min) {

    .index-categories {
      display: flex;
      flex-flow: row wrap;
    }
  }
}
