.layout-page {
    
    .page-top-nav {
        z-index: 1;
        position: fixed;
        left: 0;
        right: 0;
        padding: inherit;
        background-color: $gray-lighter;
        padding-top: 2em;
        padding-bottom: 2em;

        ul {
            @extend .list-inline;
            margin-bottom: 0;

            li {
                display: none;

                @media (min-width: $screen-sm-min) {
                    display: inline-block;
                }

                &.page-top-nav-crumb {
                    display: inline-block;

                    &:after {
                        padding-left: 10px;
                        margin-right: -5px;
                        color: $gray-light;
                        content: "/\00a0";
                    }
                }

                a {
                    color: $gray;
                    border-bottom: 2px solid transparent;
                    text-decoration: none;

                    &:hover {
                        border-bottom-color: $gray;
                    }
                }

                &.active {
                    display: inline-block;
                    
                    a {
                        color: $brand-primary;

                        &, &:hover {
                            border-bottom-color: $brand-primary;
                        }
                    }
                }
            }
        }

        .page-edit {
            color: $gray;
            text-decoration: none;

            &:hover {
                color: $text-color;
            }
        }
    }

    .side-nav {
        position: sticky;
        top: 146px;
        margin-bottom: 0;

        @media (max-width: 768px) {
            position: static;
            margin-top: 81px;
        }

        .page-side-nav {

            .panel-body {
                overflow-y: scroll;
                max-height: calc(95vh - 146px);

                @media (max-width: 768px) {
                    overflow-y: unset;
                    max-height: none;
                }
                font-size: 0.9em;

                > ul {

                    &, ul {
                        @extend .list-unstyled;
                    }

                    a {
                        color: $text-color;
                        text-decoration: none;
                    }

                    .active > a, a:hover {
                        color: $brand-primary;
                    }

                    > li > ul > li ul {
                        margin-left: 1em;
                        font-weight: 0.9em;
                    }

                    .page-side-nav-section {
                        margin-top: 1em;

                        > span {
                            font-weight: bold;
                            color: $gray;
                        }
                    }
                }
            }
            .panel-body::-webkit-scrollbar {
                -webkit-appearance: none;
            }

            .panel-body::-webkit-scrollbar:vertical {
                width: 11px;
            }

            .panel-body::-webkit-scrollbar:horizontal {
                height: 11px;
            }

            .panel-body::-webkit-scrollbar-thumb {
                border-radius: 8px;
                border: 2px solid white; /* should match background, can't be transparent */
                background-color: rgba(0, 0, 0, .2);
            }
        }
    }

    .page-ambassador {
        font-weight: 0.9em;

        img {
            max-width: inherit;
            width: 75px;
        }
    }

    .page-body {
        margin-top: 81px; 

        .page-content {
            padding: 30px;
            font-size: 1.1em;

            @media (max-width: 768px) {
                margin-top: 0px;
            }


            blockquote, p, ol, ul {
                margin-top: 25px;
                margin-bottom: 25px;
            }

            p:first-child {
                margin-top: 0;
            }

            p:last-child {
                margin-bottom: 0;

                > img {
                    margin-bottom: 25px;
                }
            }

            .lead:first-child {
                margin-top: 15px;
                margin-bottom: 30px;
            }

            .highlighter-rouge {
                position: relative;
                margin-top: 10px;
                margin-bottom: 10px;

                .btn-clipboard {
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 10;
                    display: block;
                    padding: 5px 8px;
                    font-size: 12px;
                    color: #767676;
                    cursor: pointer;
                    background-color: $gray-lighter;
                    border-radius: 0 0 0 4px;

                    &:hover {
                        color: #fff;
                        background-color: $brand-primary;
                    }
                }
            }

            > .highlighter-rouge {
                margin-left: -31px;
                margin-right: -31px;

                .highlight {
                    padding-left: 31px;
                    padding-right: 31px;

                    border-radius: 0;
                }
            }

            i[class^='ion-'] {
                background-color: white;
                border: 2px solid #eee;
                border-radius: 5px;
                padding: 5px;
            }

            :not(a) img {
                cursor: zoom-in;
            }

            blockquote {
                border: 1px solid $gray-light;
                border-left: 5px solid $brand-primary;
                border-radius: 3px 0 0 3px;
                font-size: inherit;
            }

            img {
                width: 70%;
                margin: 0px 15%
            }
        }

        .page-content a[href^="http"]:after,
        .page-side-nav a[href^="http"]:after {
            content: "\f08e";
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
            display: inline-block;
            text-decoration: none;
            padding-left: 3px;
        }

        .page-content a[href*="www.thethingsnetwork.org"]:after,
        .page-side-nav a[href*="www.thethingsnetwork.org"]:after {
            content:"" !important;
            padding-left: 0;
        }

        .page-toc {
            border-left: 2px solid $gray-light;
            display: none !important;
            padding: 0;
            font-size: 0.9em;

            &.affix {
                top: 30px;
            }

            @media (min-width: 768px) {
                display: block !important;
            }

            ul {
                list-style-type: none !important;
                padding-left: 10px;
                margin-bottom: 0;
                font-weight: bold;

                ul {
                    font-weight: normal;
                    font-size: 0.9em;
                }

                a {
                    color: $gray-dark;
                }
            }
        }
    }

    .ttn-container {
        min-height: calc(100vh - 95px);
    }

    .wrapper {
        min-height: inherit;
    }
}