$navbar-height: 65px;

/**
 * Bootstrap
 */

$brand-primary: #0d83d0;
$font-family-sans-serif:  Lato, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$headings-font-family: 'League Spartan', $font-family-sans-serif;