@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

@font-face {
  font-family: 'LatoFallback';
  src: url(../fonts/Lato-Regular.woff2) format('woff2'), url(../fonts/Lato-Regular.woff) format('woff'), url(../fonts/Lato-Regular.ttf) format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoFallback';
  src: url(../fonts/Lato-Bold.woff2) format('woff2'), url(../fonts/Lato-Bold.woff) format('woff'), url(../fonts/Lato-Bold.ttf) format('ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AvantGardePro";
  src: url(../fonts/AvantGardePro-Bold.otf);
  font-weight: bold;
  font-style: normal;
}

$family-sans-serif: "Lato", "LatoFallback", $family-sans-serif;
$title-family: "AvantGardePro", $family-sans-serif;
