// Colors

$blue: rgb(13, 131, 208);
$blue-secondary: #0039CE;
$blue-alt: #D9E4FF;
$white: #FFFFFF;
$graphite: #292929;
$white-bis: #FBFBFB;
$white-ter : #ECECEC;
$red: #F9595A;
$blue-bg: #E5ECFF;
$gray: #AEAEAE;
$red: #FF5C5C;

$code: $blue;
$link-hover: darken($blue, 20%);
$link: $blue;
$primary: $blue;
$title-color: $blue;
$info: $gray;
$warning: $red;

$navbar-background-color: $white-bis;
$navbar-item-color: $blue;
$navbar-item-hover-background-color: $blue-bg;
$navbar-item-active-color: $blue;
$navbar-item-active-background-color: $white-bis;
$navbar-height: 6rem;

$card-content-padding: 2rem;

$border: $white-ter;
$table-head-cell-border-width: 1px 1px 1px;
$table-foot-cell-border-width: 1px 1px 1px;
$table-cell-border: 1px solid $white-ter;
$table-cell-border-width: 1px 1px 1px;
$table-cell-padding: 1.2em 0.75em;

$tabs-border-bottom-color: $blue;

$content-blockquote-background-color: inherit;

$column-gap: 1.25rem;

$content-padding-top: 2rem;
$content-padding-side: 2rem;
$content-max-width: 820px;

$menu-item-active-color: $grey-dark;
$menu-item-active-background-color: $blue-bg;

$banner-height: 4rem;

$divider-font-size: $size-1;
