---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Other files will not be pre-processed by Jekyll, so define baseurl to use here
$baseurl: {{ site.baseurl }};

// Fonts
@import 'https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i';
@import 'https://cdn.jsdelivr.net/font-hack/2.020/css/hack-extended.min.css';
@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';

@import '../node_modules/stylebook/dist/scss/ttn/variables';

@import 'variables';

@import '../node_modules/stylebook/dist/scss/ttn/bootstrap';

// Include overrides for bootstrap styles
@import 'bootstrap';

// Other libs
@import '../node_modules/font-awesome/scss/font-awesome';
@import 'rouge';

// Main styles
@import 'base';

// Specifics
@import 'index';
@import 'guides';
