@charset "utf-8";

// `node_modules` mounted to css/vendor and js/vendor in config.toml

@import "vendor/bulma/sass/utilities/initial-variables";
@import '@tti/design/main';

@import "common/fonts";
@import "common/variables";

@import "vendor/bulma/bulma";

@import "vendor/basicLightbox.min";

@import "common/global";
@import "common/tabs";
@import "footer/footer";
@import "header/nav";
@import "header/search";
@import "sidebar/sidebar";
@import "glossary/glossary";

@import "highlight";

.cli-flags dd {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.cli-flags p:not(:last-child) {
  margin-bottom: 0.5em;
}

@import "vendor/bulma-tooltip.min";
@import "vendor/bulma-divider";
