.footer {
  background-size: cover;
  .title {
    color: $graphite;
  }
  .p {
    color: $graphite;
  }
  a {
    color: $graphite;
    &:hover {
      color: $blue;
    }
  }
}

.ttn-footer {
  background-color: var(--c-background-03);
  padding-bottom: 0;

  @media (min-width: 768px) {
      padding-bottom: var(--cs-s);
  }
}
