---
layout: default
---

{% assign page_crumbs = page.id | split: '/' %}

{% assign page_version = page_crumbs | slice: 1 | first %}
{% assign page_path_noversion = page_crumbs | slice: 2, 10 | join: '/' %}

{% assign page_crumbs_pages = '' | split: '|' %}
{% if page_crumbs[3] %}
  {% assign page_crumb_cum = '' | split: '|' %}
  {% assign page_crumbs_paths = '' | split: '|' %}
  {% for page_crumb in page_crumbs %}
    {% unless forloop.last %}
      {% assign page_crumb_cum = page_crumb_cum | push: page_crumb %}
      {% if forloop.index0 > 1 %}
        {% assign page_crumb_path = page_crumb_cum | join: '/' %}
        {% assign page_crumbs_paths = page_crumbs_paths | push: page_crumb_path %}
      {% endif %}
    {% endunless %}
  {% endfor %}
{% endif %}

{% assign guide_versions = '' | split: '|' %}
{% for guide in site.includes %}
  {% if page_crumbs_paths contains guide.id %}
    {% assign page_crumbs_pages = page_crumbs_pages | push: guide %}
  {% endif %}
  {% assign guide_version = guide.id | split: '/' | slice: 1 | first %}
  {% assign guide_path_noversion = guide.id | split: '/' | slice: 2, 10 | join: '/' %}
  {% if guide_path_noversion == page_path_noversion or page.aliases contains guide_path_noversion or guide.aliases contains page_path_noversion %}
    {% assign guide_versions = guide_versions | push: guide %}
    {% if guide_version == "current" %}
      {% assign current = guide %}
    {% endif %}
  {% endif %}
{% endfor %}

<div id="top" class="layout-guide container">

  <div class="row guide-nav">
    <div class="col-sm-9">
      <ol class="breadcrumb">
        <li><a href="http://www.thethingsnetwork.org/">Home</a></li>
        <li><a href="{{ site.baseurl }}/">Learn</a></li>
        {% for page in page_crumbs_pages %}
          <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
        <li class="active">{{ page.title }}</li>
      </ol>
    </div>
    <div class="col-sm-3 text-right">
      <a class="btn btn-default hidden-xs" href="{{ site.github.repository_url }}/edit/master/{{ page.path | downcase }}" target="_blank"><i class="fa fa-pencil"></i> Improve this guide</a>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3" role="complementary">

      <div class="guide-switch btn-group btn-block">
        <button type="button" class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Guides <span class="caret"></span></button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for category in site.data.guides %}
            {% unless forloop.first %}<li role="separator" class="divider"></li>{% endunless %}
            {% for guide in category.guides %}
              {% if guide.href %}
                <li><a href="{{ guide.href }}">
              {% elsif guide.path %}
                <li{% if guide.path == page.url %} class="active"{% endif %}><a href="{{ site.baseurl }}{{ guide.path }}">
              {% else %}
                <li class="disabled"><a href="#">
              {% endif %}
              {{ guide.title }}
              {% if guide.label %}<span class="label label-info">{{ guide.label }}</span>{% endif %}
              </a></li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>

      <div class="guide-sidebar hidden-xs hidden-sm">

        <div class="js-toc"></div>

        <p class="guide-top"><a href="#top">Back to top</a></p>

      </div>

    </div>

    <div class="col-md-9 js-toc-content content-body" role="main">

      {% if page_version != 'current' %}
        <div class="alert alert-warning"><strong>Attention:</strong> You are reading the <small>{{ page_version | upcase }}</small> {% if current %}and not the <small><a href="{{ site.baseurl | append: current.url }}">CURRENT</a></small>{% endif %} version of this guide. {% if page_version == 'v2-preview' %} The UI and APIs might change and registered applications and devices might be deleted at any moment!{% endif %}</div>
      {% endif %}

      {% assign replace_a_with = '<a href="' | append: site.baseurl | append: '/' | append: page_version | append: '/' %}
      {% assign replace_img_with = '<img src="' | append: site.baseurl | append: '/' | append: page_version | append: '/' %}

      <section class="panel">
        <div class="panel-body">
          <span class="label label-success pull-right">{% if page_version == "current" %}CURRENT: {{ site.var.current | upcase }}{% else %}{{ page_version | upcase }}{% endif %}</span>
          <h1>{{page.title}}</h1>
          {{ content | replace: '<a href="/', replace_a_with | replace: '<img src="/', replace_img_with | replace: '<table>', '<table class="table">' }}
        </div>
        {% if guide_versions.size > 1 %}
          <div class="panel-footer">
            Versions:&nbsp;&nbsp;&nbsp; 
            {% if current %}
              <a href="{{ site.baseurl | append: current.url }}" class="label label-{% if page.url == current.url %}success{% else %}default{% endif %}">CURRENT: {{ site.var.current | upcase }}</a>
            {% endif %}
            {% for guide in guide_versions %}
              {% capture guide_version %}{{ guide.url | split: '/' | slice: 1 }}{% endcapture %}
              {% unless guide_version == "current" %}
                <a href="{{ site.baseurl | append: guide.url }}" class="label label-{% if page.url == guide.url %}success{% else %}default{% endif %}">{{ guide.url | split: '/' | slice: 1 | first | upcase }}</a>
              {% endunless %}
            {% endfor %}
          </div>
        {% endif %}
      </section>

      {% if page.ambassador %}
        <section class="panel panel-inverse ambassador">
          <div class="panel-body">
            <div class="media">
              <div class="media-left">
                <a href="https://www.thethingsnetwork.org/u/{{ page.ambassador.username }}/"><img src="https://account.thethingsnetwork.org/api/users/{{ page.ambassador.username }}/picture.jpg" alt="{{ page.ambassador.name }}" class="img-circle" /></a>
              </div>
              <div class="media-body">
                {% if page.ambassador.text %}
                  {{ page.ambassador.text | markdownify }}
                {% else %}
                  This guide is maintained by our ambassador <a href="{{ page.ambassador.url }}" target="_blank">{{ page.ambassador.name }}</a>.
                {% endif %}
                <p><small>Become an ambassador and help us support a new device or integration! <a href="mailto:fokke@thethingsnetwork.org">Drop us a line!</a></small></p>
              </div>
            </div>
          </div>
        </section>
      {% endif %}

      {% for section in page.sections %}
        {% assign section0 = section | split: '' | first %}
        {% capture section_include %}{% if section0 == '/' %}{% include {{ section }} %}{% else %}{% include_relative {{ section }} %}{% endif %}{% endcapture %}
        <section class="panel">
          <div class="panel-body">
            {{ section_include | markdownify | replace: '<a href="/', replace_a_with | replace: '<img src="/', replace_img_with | replace: '<table>', '<table class="table">'}}
          </div>
        </section>
      {% endfor %}

    </div>

  </div>
</div>

<div class="modal fade" id="lightbox" tabindex="-1" role="dialog">
  <div class="modal-dialog text-center" role="document" style="width:auto;padding:20px;">
    <a href="https://ttnstaticfile.blob.core.windows.net/static/ttn/media/logo/ttn-logo.png"><img class="modal-content modal-body" src="https://ttnstaticfile.blob.core.windows.net/static/ttn/media/logo/ttn-logo.png" alt="Zoom" /></a>
  </div>
</div>

{% assign foo = "bar" %}
