---
layout: default
---

<div class="layout-guide container">

  <div class="row">
    <div class="col-sm-10">
      <ol class="breadcrumb">
        <li><a href="{{ site.baseurl }}/">Docs</a></li>
        <li class="active">{{page.title}}</li>
      </ol>
    </div>
    <div class="col-sm-2 text-right">
      <a class="btn btn-default hidden-xs" href="{{ site.github.repository_url }}/edit/master/{{ page.path | downcase }}"><i class="fa fa-pencil"></i> Improve this guide</a>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3" role="complementary">

      <div class="guide-sidebar">
        
        <div class="dropdown">
          <button class="btn btn-primary btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Guides <span class="caret"></span></button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% assign sorted = site.guides | sort:"zindex" | reverse %}
            {% for guide in sorted %}
              {% unless guide.hidden %}
                <li{% if guide.path == page.path %} class="active"{% endif %}><a href="{{ site.baseurl }}{{ guide.url}}">{{ guide.title }}</a></li>
              {% endunless %}
            {% endfor %}
          </ul>
        </div>

        <hr />

        <div class="js-toc hidden-xs hidden-sm"></div>

      </div>

    </div>

    <div class="col-md-9 js-toc-content content-body" role="main">

      {% assign replace_a_with = '<a href="' | append: site.baseurl | append: '/' %}
      {% assign replace_img_with = '<img src="' | append: site.baseurl | append: '/' %}

      <section class="panel">
        <div class="panel-body">
          <h1 id="top">{{page.title}}</h1>
          {{ content | replace: '<a href="/', replace_a_with | replace: '<img src="/', replace_img_with }}
        </div>
      </section>

      {% for section in page.sections %}
        {% capture section_include %}{% include {{ section }} %}{% endcapture %}
        {% if section_include != "" %}
          <section class="panel">
            <div class="panel-body">
              {{ section_include | markdownify | replace: '<a href="/', replace_a_with | replace: '<img src="/', replace_img_with }}
            </div>
          </section>
        {% else %}<!-- INCLUDE MISSING: {{section}} -->{% endif %}
      {% endfor %}

    </div>

  </div>
</div>